<section id="introduccionImport">  
  <h1>Introducción</h1>

  <p>
    La banca digital ha cambiado la forma en que las personas administran su dinero,
    permitiendo realizar operaciones financieras desde cualquier lugar y en cualquier momento.
    En este contexto, NuBank se presenta como una aplicación financiera que facilita la
    gestión diaria de los productos bancarios de forma simple, rápida y segura.

    Este manual reúne, de manera ordenada, las funciones principales de la aplicación, los
    requisitos técnicos para usarla, los pasos para acceder a una cuenta y la descripción de
    la interfaz, además de una sección de ayuda y buenas prácticas. Su propósito es que la
    persona usuaria se sienta informada, segura y en control al utilizar la app de Nu Bank en
    su actividad financiera diaria.
  </p>

    <div class="collapsible-section">
        <h2 onclick="this.classList.toggle('expanded'); this.nextElementSibling.classList.toggle('expanded')">
        ¿Qué es la app?
        </h2>
        <div class="collapsible-content">
        <p>    
        La aplicación de Nubank es una plataforma digital que permite:<br>
        - Solicitar y administrar una tarjeta de crédito Mastercard® sin cuota de manejo ni anualidad.<br>
        - Abrir y gestionar una cuenta de ahorros y débito, con funciones como transferencias inmediatas, pagos de facturas y creación de “Cajitas” para separar y organizar el dinero.<br>
        - Acceder a productos financieros adicionales como préstamos personales y Certificados de Depósito a Término (CDT).<br>
        - Controlar la seguridad de las operaciones: bloqueo de tarjeta, límites de transferencias y notificaciones en tiempo real.<br>
        - Atención al cliente 24/7 directamente desde la app, sin necesidad de sucursales físicas.<br>
        Está dirigida a usuarios que buscan simplicidad, transparencia y control en sus finanzas, especialmente personas jóvenes y adultas que prefieren manejar todo desde su celular, evitando trámites burocráticos..
        </p>
        </div>
  </div>

    <div class="collapsible-section">
        <h2 onclick="this.classList.toggle('expanded'); this.nextElementSibling.classList.toggle('expanded')">
        Objetivo del manual
        </h2>
        <div class="collapsible-content">
        <p>    
        Explicar, de forma guiada, cómo utilizar la aplicación Nubank de manera segura y eficiente, asegurando que cada usuario pueda aprovechar sus funciones principales para administrar su dinero sin complicaciones.
        </p>
        </div>
    </div>

      <div class="collapsible-section">
        <h2 onclick="this.classList.toggle('expanded'); this.nextElementSibling.classList.toggle('expanded')">
        ¿A quién va dirigido?
        </h2>
        <div class="collapsible-content">
        <p>
        Usuarios nuevos y recurrentes que necesiten entender las funciones básicas de la aplicación.
        </p>  
        </div>
    </div>

    <div class="collapsible-section">
        <h2 onclick="this.classList.toggle('expanded'); this.nextElementSibling.classList.toggle('expanded')">
        Alcance
        </h2>
        <div class="collapsible-content">
        <p>
        Este manual cubre las funciones principales del usuario final (inicio de sesión, navegación por el menú principal, flujo de depósitos, etc.).
        </p>  
        </div> 
    </div>           

</section>
