
<h2>Inicio de Sesión</h2>

<section id="setupImport" class="manual-step">
  <h3>Empecemos</h3>
  <img src="assets/manual/inicio-1.png" alt="Paso 1 - Empecemos" />
</section>

<section id="setupOverlay" class="manual-step">
  <h3>Iniciar Sesión</h3>
  <img src="assets/manual/inicio-2.png" alt="Paso 2 - Overlay" />
</section>

<section id="setupStart" class="manual-step">
  <h3>Menú principal</h3>
  <img src="assets/manual/inicio-3.png" alt="Paso 3 - Inicia tu primer tour" />
</section>


<h2>Depositar</h2>

<section id="setupImport2" class="manual-step">
  <h3>Empecemos</h3>
  <img src="assets/manual/depositar-1.png" alt="Paso 1 - Empecemos" />
</section>

<section id="setupOverlay2" class="manual-step">
  <h3>Iniciar Sesión</h3>
  <img src="assets/manual/depositar-2.png" alt="Paso 2 - Overlay" />
</section>

<section id="setupStart2" class="manual-step">
  <h3>Menú principal</h3>
  <img src="assets/manual/inicio-3.png" alt="Paso 3 - Inicia tu primer tour" />
</section>
